@charset "UTF-8";
@import '~bootstrap/scss/bootstrap';

body {
	background-color: black;
}

.section-main {
	position: relative;
	margin: auto;
	width: 1280px;
	font-family: 'Montserrat', sans-serif;
	font-size: 22px;
}

.heading {
	font-size: 50px;
	display: block;
	text-align: center;
}

.no-a {
	color: inherit;
	text-decoration: none;
}

.section-manage-main {
	.container-main {
		background-color: #222222;
		border-radius: 52px;
	}
	
	.tile {
		border-radius: 36px;
		background-color: #010830;
	}
	
	.title-create {
		font-size: 32px;
	}
	
	.title-translate {
		font-size: 26px;
	}
	
	.language {
		border-radius: 40px;
		background: #101060;
	}
	
	.language-link {
		padding: 50px;
	}
}
