@charset "UTF-8";
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-icons';

body {
	background-color: black;
}

.section-main {
	position: relative;
	margin: auto;
	width: 1280px;
	font-family: 'Montserrat', sans-serif;
	font-size: 22px;
}

.heading {
	font-size: 50px;
	display: block;
	text-align: center;
}

.no-a {
	color: inherit;
	text-decoration: none;
}

.section-manage-main {
	.container-main {
		background-color: #222222;
		border-radius: 52px;
	}
	
	.tile {
		border-radius: 36px;
		background-color: #010830;
	}
	
	.title-create {
		font-size: 32px;
	}
	
	.title-translate {
		font-size: 26px;
	}
	
	.language {
		border-radius: 40px;
		background: #101060;
	}
	
	.language-link {
		padding: 50px;
	}
}

.page-navigation {
	width: fit-content;
	margin: 20px auto auto;
	
	.pagination-button {
		background-color: $blue-800;
		min-width: 50px;
		width: 50px;
		display: inline-block;
		border: $blue-800 solid 1px;
		
		&.disabled {
			background-color: unset;
			cursor: not-allowed;
		}
		
		.holder {
			font-weight: 600;
			text-align: center;
			vertical-align: center;
			text-decoration: none;
			color: inherit;
			
			div {
				padding: 10px 12px;
			}
		}
		
		&:not(.disabled):hover {
			text-decoration: underline solid;
		}
	}
}
