@charset "UTF-8";
@import '~bootstrap/scss/bootstrap';

body {
	position: relative;
	margin: auto;
	width: 1280px;
	font-family: 'Montserrat', sans-serif;
	font-size: 22px;
}

.heading {
	font-size: 50px;
	display: block;
	text-align: center;
}

.no-a {
	color: inherit;
	text-decoration: none;
}

.language {
	border-radius: 40px;
	background: #73AD21;
	height: 100px;
}
