<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset="UTF-8">
	<title>{% block title %}Manage Ferrio API{% endblock %}</title>
	<link rel="icon" href="/favicon.ico" sizes="any">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="apple-touch-icon" href="/apple-touch-icon.png"> <!-- iOS (180×180) -->
	<link rel="manifest" href="/site.webmanifest">
	<meta name="theme-color" content="#F7A23F">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css"/>
	<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	{% block stylesheets %}
		{{ encore_entry_link_tags('app') }}
	{% endblock %}

	{% block javascripts %}
		{{ encore_entry_script_tags('app') }}
	{% endblock %}
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>
