{% extends 'base.html.twig' %}
{% block body %}
	<nav class="navbar bg-body-tertiary">
		<div class="container-fluid">
			<a class="navbar-brand">Ferrio Checking UI</a>
		</div>
	</nav>
	<section class='section-main'>
		<span class='heading my-5'>Welcome to checking UI!</span>
		<div class='container text-center'>
			<div class="dropdown">
				<button
						class="btn btn-secondary dropdown-toggle"
						type="button"
						data-bs-toggle="dropdown"
						aria-expanded="false"
						style='width: 150px'
				>
					{{ language.name }}
				</button>
				<ul class="dropdown-menu">
					{% for language in languages %}
					<li>
						<a
								class="dropdown-item"
								href="{{ path('manage_check_language', {'lang': language.code}) }}"
						>{{ language.name }}</a>
						{% endfor %}
				</ul>
			</div>
			<hr/>
			<form method='post'>
				<label for='holidays' class='d-none'>Holidays</label>
				<textarea
						id='holidays'
						name='holidays'
						cols='100'
						rows='20'
						placeholder='One holiday per row, no commas.'
				></textarea>
				<br/>
				<input type='submit' value="Check 'em all!" id='check' class='btn btn-info'/>
				<input type='hidden' name='action' value='check'/>
			</form>
			<hr/>
			{% if result is not empty %}
				<table class="table table-dark table-bordered">
					<caption>Translations</caption>
					<thead>
					<tr>
						<th scope='col'>Name</th>
					</tr>
					</thead>
					<tbody>
					{% for holiday in result %}
						<tr>
							<td>{{ holiday }}</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			{% endif %}
		</div>
	</section>
{% endblock %}
