/commandlinetools/
/dataSources/
/httpRequests/
/shelf/
/sonarlint/

/data_source_mapping.xml
/dataSources.local.xml
/dataSources.xml
/dbnavigator.xml
/discord.xml
/git_toolbox_blame.xml
/git_toolbox_prj.xml
/jsLibraryMappings.xml
/laravel-idea.xml
/kubernetes-settings.xml
/sshConfigs.xml
/watcherTasks.xml
/workspace.xml
